<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <form action="/post" method="POST">
        <input type="text" name="name_text" placeholder="Enter the name..." required>
        <input type="text" name="age_text" placeholder="Enter the text..." required>
        <input type="text" name="city_text" placeholder="Enter the city..." required>
        <input type="text" name="home_text" placeholder="Enter the home..." required>
        <button type="submit">Save</button>
    </form>
</body>
</html>